<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intent annotation tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='/js/jquery-3.4.1.min.js') }}"></script>
    {#    <script type="text/javascript" src="{{ url_for('static', filename='/js/jquery-ui.js') }}"></script>#}
    {#  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">#}
    {#  <link rel="stylesheet" href="/resources/demos/style.css">#}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>
<div class="header">
    <a href="/">IBM <b> Watson Assistant Annotator</b></a>
    <a href="/load_files">Load Files</a>
    <a href="/annotate">Annotate</a>
</div>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
<div class="footer"></div>
</body>
</html>